/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */
/* #region common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.social-icon {
  fill: #f4f4fd;
  height: 16px;
  width: 16px;
}
/* #endregion common */

/* #region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header a {
  padding: 24px 0 24px;
}
.header-nav {
  display: flex;
  gap: 76px;
  align-items: center;
}
.main-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
}

.text-iris {
  color: #2e2f42;
}
.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item.current {
  position: relative;
}
.nav-item.current::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.list-contacts {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.contacts {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus,
.nav-item:hover,
.nav-item:focus,
.nav-item.current {
  color: #404bbf;
}
/* #endregion header */

/* #region hero */

.section-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/baner/img-banner.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.section-hero {
  padding: 188px 0 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin: auto;
}
.button-order {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 48px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}
/* #endregion hero */

/* #region features*/

.section-features {
  padding: 120px 0 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}

.container-features-icon {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  min-height: 112px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion features*/

/* #region our team */
.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-items {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}
.team-descr {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.sosial-list-team {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.sosial-link-team {
  display: flex;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sosial-link-team:hover,
.sosial-link-team:focus {
  background-color: #404bbf;
}
/* #endregion our team */

/* #region portfolio*/
.section-portfolio {
  padding: 120px 0;
}
.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.item-portfolio {
  flex-basis: calc((100% - 96px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-portfolio {
  position: relative;
  overflow: hidden;
}
.item-portfolio:hover,
.item-portfolio:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.item-portfolio:hover .text-overlay,
.item-portfolio:active .text-overlay {
  transform: translateY(0);
}

.text-overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-descr {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion portfolio*/

/* #region footer */
.container-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.content-footer {
  display: flex;
  align-items: baseline;
}
.descr-footer {
  margin-right: 120px;
}
.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.text-white {
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-right: 120px;
}
.title-social {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  gap: 16px;
  align-items: baseline;
}
.sosial-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sosial-link:hover,
.sosial-link:focus {
  background-color: #31d0aa;
}
/* #endregion footer */
